<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>JONGHWA BLOG</title>
    <meta charset="UTF-8" />

    <!-- 웹 페이지에 쓰일 언어 지정 -->
    <meta name="author" content="JongHwa" />
    <meta name="description" content="JONGHWA BLOG" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <meta http-equiv="refresh" content="2" /> -->

    <% include ../../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/admin/index.css" />
  </head>

  <body>
    <% include ../../../partials/headerTeam.ejs %>

    <div class="wrap">
      <aside>
        <ul>
          <li><a href="/admin">방문자</a></li>
          <li><a href="/admin/error">에러로그</a></li>
        </ul>
      </aside>

      <article>
        <section class="inner-nav">
          <select id="year">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>

          <select id="month">
            <option value="all">all</option>
            <% for(let i=1; i<=12; i++) { %>
            <option value="<%=i%>"><%=i%></option>
            <% } %>
          </select>
          <input type="button" value="보기" id="search-btn" />
        </section>

        <section class="content">
          <canvas id="myChart" width="500" height="200">
            Your browser does not support the canvas element.
          </canvas>
        </section>
      </article>
    </div>

    <script src="/js/nav/nav.js"></script>
    <script src="/dist/Chart.min.js"></script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/util/colorUtil.js"></script>
    <script src="/js/admin/admin.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/Chart.min.css" />
  </body>
</html>
