<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS BadRequest</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="400에러 페이지, Bad Request" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <% include ../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/common/error.css" />
  </head>

  <body>
    <% include ../../partials/header.ejs %>

    <div id="wrap">
      <div class="container">
        <h1>400 BadRequest</h1>
        <p>잘못된 요청입니다.</p>
      </div>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
