<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>JONGHWA BLOG</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="JONGHWA BLOG" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="BLOG" />
    <meta property="og:title" content="JONGHWA BLOG" />
    <meta property="og:description" content="JONGHWA BLOG" />
    <meta property="og:url" content="https://www.jonghwa.xyz" />

    <% include ../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/common/error.css" />
  </head>

  <body>

    <% if (auth)  { %>
      <% include ../../partials/headerTeam.ejs %>
    <% } else { %>
      <% include ../../partials/header.ejs %>
    <% } %>

    <div id="wrap">
      <div class="container">
        <h1><%= status %></h1>
        <p><%= message %></p>
      </div>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
