<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>JONGHWA BLOG</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="JONGHWA BLOG" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <% include ../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/common/error.css" />
  </head>

  <body>
    <% include ../../partials/header.ejs %>

    <div id="wrap">
      <div class="container">
        <h1>500 Server Error</h1>
        <p>서버오류입니다.. 잠시 후 다시 시도해주세요..</p>
      </div>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
