<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>JONGHWA BLOG</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="JONGHWA BLOG" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="BLOG" />
    <meta property="og:title" content="JONGHWA BLOG" />
    <meta property="og:description" content="JONGHWA BLOG" />
    <meta property="og:url" content="https://www.jonghwa.xyz" />

    <% include ../../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/about/aboutTeam.css" />
  </head>

  <body>
    <% include ../../../partials/header.ejs %>

    <article>
      <h1>Jonghwa BLOG</h1>
      <p>
        Jonghwa Blog 입니다..
      </p>
    </article>
    <% include ../../../partials/footer.ejs %>
    <script src="/js/nav/nav.js"></script>
  </body>
</html>
