<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ../../../partials/noauth/essentialCss.ejs %>
  </head>
  <body>
    <% include ../../../partials/noauth/header.ejs %>

    <div class="container">
      <div>
        <%categories.forEach((e,i) => { %> - <%= e.title %> (<%=e.count%>) <% })
        %> <% include ../../../partials/footer.ejs %>
      </div>
    </div>
  </body>
</html>
