<header>
    <nav>
        <div class='content'>
            <div class='brand'>
                <span>
                    <a href='/posts/'>We Know JS</a>
                </span>
            </div>

            <div class='right_nav'>
                <ul>
                    <li>
                        <a href='/about'>Abuout Team</a>
                    </li>
                    <li>
                        <a href='/auth/logout'>로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>