.postArea {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  width: 90%;
  min-height: 80vh;
  margin: 0 auto;
}

.postArea > article {
  flex-grow: 1;
  margin-right: 100px;
}

.postArea > aside {
  flex-basis: 300px;
  flex-shrink: 0;
}

.post .postInfo {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .postArea > aside {
    display: none;
  }
  .postArea > article {
    margin-right: 0;
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  .postArea > aside {
    flex-basis: 200px;
    flex-shrink: 0;
  }
}

input.btnNew {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: violet;
  font-size: 1.5rem;
}

section .post {
  margin: 10px 0 20px 0;
  padding: 10px 0px;
  box-sizing: border-box;
  min-height: 100px;
  border-bottom: 2px solid #ededed;
}

@media (min-wdith: 551px) and (max-width: 800px) {
  section .post h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
    display: block;
  }
}

section .post p.tag {
  font-size: 1rem;
  color: #cccccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

section .post h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 15px;
  display: block;
}

section .post h2 a:hover {
  color: black;
}

@media (max-width: 550px) {
  section .post h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15px;
    display: block;
  }

  section .post p.tag {
    font-size: 0.8rem;
    color: #cccccc;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}

section .postContent {
  margin-bottom: 10px;
}

aside section {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid pink;
  margin-bottom: 30px;
}

aside section > h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
