<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>JONGHWA BLOG</title>
    <meta name="author" content="JongHwa" />
    <meta name="description" content="JONGHWA BLOG" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />

    <% include ../../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/posts/write.css" />
  </head>

  <body>
    <% include ../../../partials/headerTeam.ejs %> <% include ../../../partials/editorWrite.ejs %>

    <div class="wrap">
      <div class="container">
        <div class="custom title">
          <input type="text" id="title" name="title" placeholder="Title" />
        </div>

        <div id="content-text" name="content"></div>

        <button class="custom" onclick="back()">뒤로가기</button>
        <button class="custom" id="submit" onclick="post.submitSub('<%=no%>')">
          작성하기
        </button>
      </div>
      <div class="moveTop-btn" id="moveTop-btn">&#x2912;</div>
    </div>

    <% include ../../../partials/footer.ejs %>
    <script src="/js/nav/nav.js"></script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/editor/editor.js"></script>
    <script src="/js/posts/posts.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        post.writeInit();
      });
    </script>
  </body>
</html>
