.content-wrap {
  position: relative;
  min-height: 80vh;
  max-width: 1700px;
  margin: 10px auto 50px;
  box-sizing: border-box;
  padding: 30px 50px;
}

/* content-header */

.content-header {
  margin-bottom: 20px;
}

.content-header .manageArea {
  text-align: right;
  height: 0;
}

.content-header .manageArea input[type='button'] {
  position: relative;
  bottom: 50px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: violet;
  font-size: 1.5rem;
}

.content-header::after {
  display: block;
  content: '';
  margin-top: 20px;
  border-bottom: 2px solid #e6ebf1;
}

.content-header .post-intro {
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

.content-header .post-intro h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
}

.content-header .post-intro dl {
  display: block;
}

.content-header .post-intro dt {
  display: inline-block;
}

.content-header .post-intro dd {
  display: inline-block;
}

/* content-content */

.content-content {
  min-height: 30vh;
  margin-bottom: 100px;
}

.content-content .content-text {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.5rem;
  font-weight: bold;
}

/* 사이드 시작 */

.content-side {
  position: fixed;
  width: 100px;
  height: 10px;
  bottom: 50px;
  right: 50px;
  text-align: center;
}

.content-side > h2 {
  line-height: 50px;
  background: #bac8ff;
  border-radius: 20px;
  font-weight: bold;
}

.content-side .sidepost {
  position: absolute;
  bottom: 10px;
  right: 55px;
  background: white;
  text-align: left;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.12);
  display: none;
}

.content-side .sidepost h2 {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  font-family: 'Do Hyeon', sans-serif;
}

.content-side .sidepost ul li {
  margin-top: 5px;
  border-top: 1px solid #ced4da;
}

.content-side .sidepost ul li a {
  cursor: pointer;
  display: block;
  color: #343a40;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-side .sidepost ul li a:hover {
  color: #748ffc;
}

.side input[type='button'] {
  margin-top: 20px;
  width: 250px;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: violet;
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 780px) {
  .content-wrap {
    min-height: 80vh;
    width: 99%;
    margin: 10px auto 50px;
    box-sizing: border-box;
    padding: 30px 20px;
  }

  /* content-header */

  .content-header {
    margin-bottom: 20px;
  }

  .content-header .manageArea {
    text-align: right;
    height: 0;
  }

  .content-header .manageArea input[type='button'] {
    position: relative;
    bottom: 50px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: violet;
    font-size: 1.5rem;
  }

  .content-header::after {
    display: block;
    content: '';
    margin-top: 20px;
    border-bottom: 2px solid #e6ebf1;
  }

  .content-header .post-intro {
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
  }

  .content-header .post-intro h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
  }

  .content-header .post-intro dl {
    display: block;
  }

  .content-header .post-intro dt {
    display: inline-block;
  }

  .content-header .post-intro dd {
    display: inline-block;
  }

  /* content-content */

  .content-content {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }

  .content-content .content-text {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.5rem;
  }
}

@media (max-width: 780px) {
  .content-wrap {
    position: relative;
    min-height: 80vh;
    max-width: 780px;
    margin: 10px auto 50px;
    box-sizing: border-box;
    padding: 30px 10px;
  }

  .content-side .sidepost {
    position: absolute;
    bottom: 10px;
    right: 55px;
    background: white;
    text-align: left;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.12);
    display: none;
    height: 300px;
    width: 300px;
    overflow-y: auto;
  }

  .content-side .sidepost ul li a {
    cursor: pointer;
    display: block;
    color: #343a40;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
