.wrap {
  height: auto;
  overflow: hidden;
  min-height: 80vh;
  margin-top: 100px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container input {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  border: 1px solid #cccccc;
  margin: 0 0 15px;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.container .tag-container {
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
}

.container .tag-container .tag-add {
  flex: 0 0 300px;
}

.container .tag-container .tag-add label {
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 5px;
}

.container .tag-container .tag-add input[type='text'] {
  width: 150px;
  box-sizing: border-box;
  color: black;
  font-size: 1.2rem;
}

.container .tag-container .tag-add button {
  height: 30px;
  width: 50px;
  cursor: pointer;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 5%;
  border: none;
  color: white;
}

.container .tag-container .tag {
  margin-left: 10px;
}

.container .tag-container .tag span {
  border: 1px solid #cccccc;
  border-radius: 15px;
  padding: 5px 12px;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
}

.container .tag-container .tag span:hover {
  background: violet;
  cursor: pointer;
}

.container button.custom {
  float: right;
  overflow: hidden;
  margin: 20px 0 0 10px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 5%;
  border: none;
  color: white;
}

.container button::after {
  clear: both;
}
