header {
  margin-bottom: 80px;
  position: relative;
}

header::after {
  clear: both;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: white;
  font-family: 'Nanum Gothic', sans-serif;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.12);
  z-index: 999;
}

nav .nav-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  line-height: 70px;
}

nav .nav-container h1 {
  float: left;
  height: inherit;
}

nav .nav-container h1.brand a {
  font-size: 2.5rem;
  color: black;
  font-family: 'Do Hyeon', sans-serif;
}

nav .nav-container .mMenu {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 1rem;
  top: 10px;
  cursor: pointer;
  display: none;
}

.mMenu .icon-container {
  padding: 5px;
}

.mMenu .icon-container .icon::before,
.mMenu .icon-container .icon,
.mMenu .icon-container .icon::after {
  width: 100%;
  height: 4px;
  background: black;
}

.mMenu .icon-container .icon {
  position: relative;
  margin-top: 1rem;
}

.mMenu .icon-container .icon::before {
  position: absolute;
  content: '';
  bottom: 10px;
}

.mMenu .icon-container .icon::after {
  position: absolute;
  content: '';
  top: 10px;
}

nav .nav-container .pcMenu {
  font-size: 2rem;
  color: #cccccc;
  font-weight: bold;
}

nav .nav-container .pcMenu ul {
  float: right;
  overflow: hidden;
}

nav .nav-container .pcMenu ul li {
  display: inline;
  margin-left: 1rem;
}

nav .nav-container .pcMenu ul li a:hover {
  color: #748ffc;
}

.moveTop-btn {
  position: fixed;
  bottom: 70px;
  width: 50px;
  height: 50px;
  right: 50px;
  background: rgba(222, 222, 222, 0.2);
  color: #2f2f2f;
  z-index: 99;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  line-height: 50px;
  display: none;
  border-radius: 50%;
}

@media (max-width: 800px) {
  nav .nav-container {
    position: relative;
  }

  nav .nav-container .pcMenu {
    display: none;
  }

  nav .nav-container .mMenu {
    display: block;
  }

  nav .nav-container .pcMenu ul {
    position: absolute;
    height: 100vh;
    width: 300px;
    right: -40px;
    top: 73px;
    text-align: center;
    background: white;
    color: black;
    z-index: 99999;
  }

  nav .nav-container .pcMenu ul li {
    display: block;
  }

  nav ul li a {
    font-size: 3rem;
    color: #cccccc;
  }

  .mMenu {
    display: block;
  }

  nav .nav-container .pcMenu ul li a:hover {
    color: rgba(0, 0, 0, 0.9);
  }

  .moveTop-btn {
    position: fixed;
    bottom: 70px;
    width: 50px;
    height: 50px;
    right: 10px;
    background: rgba(222, 222, 222, 0.2);
    color: #2f2f2f;
    z-index: 99;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    line-height: 50px;
    display: none;
    border-radius: 50%;
  }
}
