<header>
    <nav>
        <div class='content'>
            <div class='brand'>
                <span>
                    <a href='/posts'>We Know JS</a>
                </span>
            </div>


        </div>
    </nav>
</header>