article {
  height: auto;
  overflow: hidden;
  min-height: 80vh;
}

section {
  width: 90%;
  margin: 0 auto;
}

section .custom input {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  border: 1px solid #cccccc;
  margin: 0 0 15px;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

section .category {
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 20px;
}

section .category label {
  width: 100px;
  display: inline-block;
  font-weight: bold;
}

section .category select {
  height: 30px;
  width: 200px;
  text-align: center;
}

section button.custom {
  float: right;
  overflow: hidden;
  margin: 20px 0 0 10px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 5%;
  border: none;
  color: white;
}

section button::after {
  clear: both;
}
