<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>JONGHWA BLOG</title>
    <meta charset="UTF-8" />
    <meta name="author" content="JongHwa" />
    <meta name="description" content="JONGHWA BLOG" />
    <meta name="generator" content="Visual Studio Code" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />

    <% include ../../../partials/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/solving/new.css" />
  </head>

  <body>
    <% include ../../../partials/editorWrite.ejs %> <% include ../../../partials/headerTeam.ejs %>

    <div id="wrap">
      <!-- container -->
      <div class="container">
        <div class="title">
          <input type="text" id="title" name="title" class="input" placeholder="Title" />
        </div>

        <div class="problemNum">
          <input class="input" type="text" id="problemNum" name="problemNum" placeholder="problemNum" />
        </div>

        <div class="url">
          <input class="input" type="text" id="url" name="url" placeholder="URL" />
        </div>

        <!-- category -->
        <div class="category">
          <!-- category-select -->
          <div class="category-select">
            <label for="category-select">카테고리 선택</label>
            <select name="category-select" id="category-select">
              <% category.forEach((e,i) => { %>
              <option value="<%=e.no%>"> <%=e.title %> </option>
              <% }) %>
            </select>
          </div>
          <!-- //category-select -->

          <!-- category-add -->
          <div class="category-add">
            <label for="category-add">카테고리 추가</label>
            <input type="text" class="category-input" id="category-add" />
            <button onclick="solving.addCategory()">추가</button>
          </div>
          <!-- //category-add -->

          <!-- category-delete -->
          <div class="category-delete">
            <label for="category-delete">카테고리 삭제</label>
            <select name="category-delete" id="category-delete">
              <% category.forEach((e,i) => { %>
              <option value="<%=e.no%>"> <%=e.title %> </option>
              <% }) %>
            </select>
            <button onclick="solving.deleteCategory()">삭제</button>
          </div>
          <!-- //category-delete -->
        </div>
        <!-- //category -->

        <div id="content-content" name="content"></div>
        <div class="btn">
          <button class="custom" id="submit" onclick="solving.write();">작성하기</button>
          <button class="custom" onclick="back()">뒤로가기</button>
        </div>
      </div>
      <!-- //container -->
      <div class="moveTop-btn" id="moveTop-btn">&#x2912;</div>
    </div>

    <% include ../../../partials/footer.ejs %>
    <script src="/js/nav/nav.js"></script>
    <script src="/js/util/ajaxUtil.js"></script>
    <script src="/js/editor/editor.js"></script>
    <script src="/js/solving/solving.js"></script>
    <script>
      let solving = new Solving();
      solving.solvingWrite();
    </script>
  </body>
</html>
