article {
  min-height: 80vh;
}

article section {
  margin: 50px auto 0;
  box-sizing: border-box;
  padding: 30px;
  width: 500px;
  box-shadow: 0px 0px 5px 1px #e9ecef;
}

article section label {
  font-size: 2rem;
  text-align: center;
  display: block;
}

.formArea {
  width: 60%;
  margin: 40px auto 0;
}

input {
  display: block;
  margin: 0 auto 50px;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 0;
  font-size: 1.3rem;
  border-bottom: 1px solid black;
}

button {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1rem;
}
