<header>
  <nav>
    <div class="nav-container">
      <h1 class="brand"><a href="/posts">종화 블로그</a></h1>

      <div class="mMenu">
        <div class="icon-container">
          <div class="icon"></div>
        </div>
      </div>

      <div class="pcMenu">
        <ul>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/solving">Solving</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
