<header>
  <nav>
    <div class="nav-container">
      <div class="brand">
        <span> <a href="/posts">We Know JS</a> </span>
      </div>
      <div class="menu">
        <div>
          <span> <a href="/posts">Posts</a> </span>
        </div>
        <div>
          <span> <a href="/solving">Solving</a> </span>
        </div>
        <div>
          <span> <a href="/auth/logout">Logout</a> </span>
        </div>
      </div>
    </div>
  </nav>
</header>
