<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ../../partials/team/essentialCss.ejs %>
    <link rel="stylesheet" href="/css/team/postWrite.css" />
    <% include ../../partials/team/editorWrite.ejs %>
  </head>

  <body>
    <% include ../../partials/team/header.ejs %>

    <article>
      <section>
        <div class="custom title">
          <input type="text" id="title" name="title" placeholder="Title" />
        </div>
        <div class="custom tag">
          <input type="text" id="tag" name="tag" placeholder="Tag" />
        </div>
        <div class="category">
          <label for="category">category</label>
          <select name="category" id="category">
            <% category.forEach((item,idx) => { %>
            <option value="<%=item.no%>"><%=item.explain %> </option>
            <% }) %>
          </select>
        </div>
        <div id="editSection" id="content" name="content"></div>

        <button class="custom" onclick="back()">뒤로가기</button>
        <button class="custom" id="submit" onclick="submit()">작성하기</button>
      </section>
    </article>

    <% include ../../partials/footer.ejs %>
    <script src="/js/post/post.js"></script>
  </body>
</html>
