<!DOCTYPE html>
<html lang="ko">

<head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/team/essentialCss.ejs %>
        <link rel='stylesheet' href='/css/team/postWrite.css' />
        <% include ../../partials/team/editorWrite.ejs %>


</head>

<body>
    <% include ../../partials/team/header.ejs %>

        <article>
            <section>
                <div class='custom title'>
                    <input type='text' id='title' name='title' value="<%=post.title %>" /> </div>
                </div>
                <div id="editSection" id='content' name='content'>
                  <p hidden id="hiddenContent"><%- post.content %></p>
                </div>

                <button class='custom' onclick='back()'>뒤로가기 </button>
                <button class='custom' onclick='postUpdate.updateSub("<%=home%>","<%=post.sub_no%>")'>수정하기</button>
            </section>
        </article>

        <% include ../../partials/footer.ejs %>
        <script src="/js/util/ajaxUtil.js"></script>
        <script src="/js/post/postUpdate.js"></script>

</body>
</html>