<!DOCTYPE html>
<html lang="en">

<head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/noauth/essentialCss.ejs %>
        <link rel='stylesheet' href='/css/common/aboutTeam.css' />
</head>

<body>
    <% include ../../partials/noauth/header.ejs %>

        <article>
            <h1>We Know JS</h1>
            <p>

                We-Know-JS 조직은 Vanilla JS 스터디그룹입니다.<br> javascript에 대해 몰랐었던, 오해하고 있었던 점들을 모두 걷어내는 Vanilla JS에 대한 심도있는 학습을
                꾀합니다.
            </p>

            <section class='member'>
                <div class="awesome">듀비둥</div>
                <div class="awesome">성동구 흰띠</div>
                <div class="awesome">ㅣㅣㅑㅣ</div>
                <div class="awesome">도트</div>
                <div class="awesome">Baaaam</div>
            </section>

        </article>
        <% include ../../partials/footer.ejs %>

</body>

</html>