<!DOCTYPE html>
<html lang="ko">

<head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../../partials/team/essentialCss.ejs %>
        <link rel='stylesheet' href='/css/noauth/register.css' />
</head>

<body>
    <% include ../../partials/noauth/header.ejs %>

        <article>
            <section>
                <label>회원가입</label>

                <div class='formArea'>
                    <!-- <form method='post' action='/auth/register'> -->
                    <input type='text' id='id' name='id' placeholder="ID" maxlength=20 minlength=5 autocomplete="off" />
                    <input type='password' id='pw' name='pw' placeholder="PW" maxlength=20 minlength=5 autocomplete="off" />
                    <input type='text' id='nickname' name='nickname' placeholder="nickname" maxlength=20 minlength=2 autocomplete="off" />

                    <button type="submit" onclick="registerAjax()">회원가입</button>
                    <!-- </form> -->
                    <button onclick="location.href='/'">취소</button>
                </div>
            </section>

        </article>
        <% include ../../partials/footer.ejs %>



            <script>
                function registerAjax() {
                    const xhr = new XMLHttpRequest();
                    const id = document.getElementById('id').value
                    const pw = document.getElementById('pw').value;
                    const nickname = document.getElementById('nickname').value;

                    if (!validation(id, pw, nickname)) {
                        return false;
                    }

                    const params = {
                        id, pw, nickname
                    }
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            alert('회원가입 성공')
                            location.href = '/auth/login'
                        } else {
                            alert(`${xhr.responseText}`)
                        }
                    }
                    xhr.open('POST', '/auth/register', true);
                    xhr.setRequestHeader('Content-type', 'application/json');
                    xhr.send(JSON.stringify(params))
                }

                function validation(id, pw, nickname) {
                    if (id.length < 5 || id.length > 20 || typeof id !== "string") {
                        alert('아이디 형식이 올바르지 않습니다.')
                        return false;
                    }
                    if (pw.length < 5 || pw.length > 20 || typeof id !== "string") {
                        alert('비밀번호 형식이 올바르지 않습니다.')
                        return false;
                    }
                    if (nickname.length < 2 || nickname.length > 20 || typeof nickname !== "string") {
                        alert('닉네임 형식이 올바르지 않습니다.')
                        return false;
                    }
                    return true;
                }
            </script>

</body>

</html>